In [3]:
import pandas as pd
from pandas.io.json import json_normalize
citi_bike_data = json_normalize('https://feeds.citibikenyc.com/stations/stations.json')
citi_bike_data.head()

            executionTime                                    stationBeanList
0  2020-03-09 05:33:11 PM  {'id': 304, 'stationName': 'Broadway & Battery...
1  2020-03-09 05:33:11 PM  {'id': 359, 'stationName': 'E 47 St & Park Ave...
2  2020-03-09 05:33:11 PM  {'id': 367, 'stationName': 'E 53 St & Lexingto...
3  2020-03-09 05:33:11 PM  {'id': 402, 'stationName': 'Broadway & E 22 St...
4  2020-03-09 05:33:11 PM  {'id': 3255, 'stationName': '8 Ave & W 31 St',...

In [25]:
station_list = citi_bike_data["stationBeanList"]
station_list

0      {'id': 72, 'stationName': 'W 52 St & 11 Ave', ...
1      {'id': 79, 'stationName': 'Franklin St & W Bro...
2      {'id': 82, 'stationName': 'St James Pl & Pearl...
3      {'id': 83, 'stationName': 'Atlantic Ave & Fort...
4      {'id': 116, 'stationName': 'W 17 St & 8 Ave', ...
                             ...
931    {'id': 3913, 'stationName': 'Sands St Gate', '...
932    {'id': 3914, 'stationName': 'West End Ave & W ...
933    {'id': 3916, 'stationName': 'Pearl St & Peck S...
934    {'id': 3917, 'stationName': 'Willoughby St & A...
935    {'id': 3918, 'stationName': 'Avenue D & E 8 St...
Name: stationBeanList, Length: 936, dtype: object

In [26]:
station_list[0]

{'id': 72,
 'stationName': 'W 52 St & 11 Ave',
 'availableDocks': 34,
 'totalDocks': 55,
 'latitude': 40.76727216,
 'longitude': -73.99392888,
 'statusValue': 'In Service',
 'statusKey': 1,
 'availableBikes': 18,
 'stAddress1': 'W 52 St & 11 Ave',
 'stAddress2': '',
 'city': '',
 'postalCode': '',
 'location': '',
 'altitude': '',
 'testStation': False,
 'lastCommunicationTime': '2020-03-02 07:56:51 PM',
 'landMark': ''}

In [44]:
station_list.head()

0    {'id': 72, 'stationName': 'W 52 St & 11 Ave', ...
1    {'id': 79, 'stationName': 'Franklin St & W Bro...
2    {'id': 82, 'stationName': 'St James Pl & Pearl...
3    {'id': 83, 'stationName': 'Atlantic Ave & Fort...
4    {'id': 116, 'stationName': 'W 17 St & 8 Ave', ...
Name: stationBeanList, dtype: object