# Assignment 1
### by Shay Culpepper

I am interested in trends in EPA violations over the past 3 administrations. Can looking at the administration, industry, and violation type give us an idea of how large the settlements might be? While Obama was a very progressive president, was his administration actually more effective in prosecuting environmental violators as his successor and predecessor?  Are Bush and Trump comparable in their prosecutions? 

The best independent variables for me would be presidential administration, type of violation, company size, industry. Penalty amount would be the dependent variable.  

The [Violation tracker](https://www.goodjobsfirst.org/violation-tracker) has most of the data (and more!), however it doesn't have company size. Meaningful analysis would require that information too, I think.

In [2]:
import pandas as pd
data_url = 'https://docs.google.com/spreadsheets/d/1eUlUPy_v7ZYxnpNjHWFySTFQ9wFksnvj27ZiJJsPR3k/pub?output=csv#gid=0'
df=pd.read_csv(data_url, sep=',',header=0,usecols=['Penalty Amount', 'Company', 'Parent Company', 'Penalty Year', ])
df.head()

,Company,Parent Company,Penalty Amount,Penalty Year
0,5N Plus Inc.,NaN,"$61,150",2013
1,A&L Cesspool Service Corporation,NaN,"$900,000",2016
2,A-1 Barrel,NaN,"$15,125",2012
3,"A-1 Petroleum and Propane, Inc.",NaN,"$40,000",2015
4,"A-1 Restaurant Services, L.L.C.",NaN,"$200,000",2016

In [3]:
df['Penalty Amount']

0         $61,150
1        $900,000
2         $15,125
3         $40,000
4        $200,000
           ...
40626      $5,000
40627    $525,000
40628     $90,274
40629    $150,000
40630     $15,000
Name: Penalty Amount, Length: 40631, dtype: object

In [4]:
df['Penalty Amount'] = df['Penalty Amount'].replace('[\$,]', '', regex=True).astype(float)

In [5]:
df['Penalty Amount']

0         61150.0
1        900000.0
2         15125.0
3         40000.0
4        200000.0
           ...
40626      5000.0
40627    525000.0
40628     90274.0
40629    150000.0
40630     15000.0
Name: Penalty Amount, Length: 40631, dtype: float64

In [6]:
def get_pres_by_year(yr):
    if yr <= 2008:
        return 'Bush'
    if yr <= 2016:
        return 'Obama'
    return 'Trump'

In [7]:
df['President'] = df['Penalty Year'].map(get_pres_by_year)

In [8]:
df.head()

,Company,Parent Company,Penalty Amount,Penalty Year,President
0,5N Plus Inc.,NaN,61150.0,2013,Obama
1,A&L Cesspool Service Corporation,NaN,900000.0,2016,Obama
2,A-1 Barrel,NaN,15125.0,2012,Obama
3,"A-1 Petroleum and Propane, Inc.",NaN,40000.0,2015,Obama
4,"A-1 Restaurant Services, L.L.C.",NaN,200000.0,2016,Obama

In [9]:
df.describe()

       Penalty Amount  Penalty Year
count    4.063100e+04  40631.000000
mean     1.723004e+06   2008.825896
std      8.906337e+07      5.170255
min      5.000000e+03   2000.000000
25%      8.497500e+03   2005.000000
50%      1.718000e+04   2009.000000
75%      5.000000e+04   2013.000000
max      1.470000e+10   2019.000000